@import "../../../../palette";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $nav-bg;
  padding: 10px 20px;
  color: $primary-light;

  .navbar-brand {
    a {
      color: $primary-light;
      text-decoration: none;
      font-weight: bold;
      display: block;
      width: 50px;
      >img {
        max-width: 100%;
        object-fit: cover;
      }
    }
  }

  .navbar-toggler {
    display: none;
    background: none;
    border: none;
    cursor: pointer;

    span {
      display: block;
      width: 25px;
      height: 3px;
      background-color: $primary-light;
      margin: 5px 0;
    }
  }

  .navbar-links {
    display: flex;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
   >li {
     display: flex;
     a {
       color: $nav-txt-color;
       text-decoration: none;
       margin-left: 20px;
       transition: color 0.3s ease;
       font-size: 15px;
       &:hover {
         color: $primary-light;
       }
     }
     &:last-of-type {
         margin-left: 30px;
       .lang-btn {
         color: $nav-txt-color;
         &:hover {
           color: $primary-light;
         }
       }
     }
   }
  }

  @media (max-width: 1024px) {
    .navbar-toggler {
      display: block;
    }

    .navbar-links {
      opacity: 0;
      visibility: hidden;
      flex-direction: column;
      gap: 15px;
      align-items: self-start;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: $nav-bg;
      padding: 10px 20px;
      z-index: 10;
      &.open {
        opacity: 1;
        visibility: visible;
      }

      >li{
        >a {
          margin-left: 0;
        }
        &:last-of-type {
          margin-left: 0;
        }
      }
    }
  }
}
#dropdown {
  width: 76px;
  min-width: 0;
}