<nav class="navbar">
  <div class="navbar-brand">
    <a href="#">
      <img src="../../../../assets/logo.png" alt="Logo" />
    </a>
  </div>
  <button class="navbar-toggler" (click)="toggleNavbar()">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <ul class="navbar-links" [ngClass]="{ 'open': isNavbarOpen }">
    <li>
      <a routerLink="/" class="geo-primary-txt">მთავარი</a>
    </li>
    <li>
      <a routerLink="/hotels" class="geo-primary-txt">სასტუმროები</a>
    </li>
    <li>
      <a routerLink="/car-rental" class="geo-primary-txt">მანქანები</a>
    </li>
    <li>
      <a href="#" class="geo-primary-txt">ბლოგები</a>
    </li>
    <li>
      <a href="#" class="geo-primary-txt">ჩვენს შესახებ</a>
    </li>
    <li>
      <a href="#" class="geo-primary-txt">წესები და პირობები</a>
    </li>
    <li>
      <a
              class="geo-primary-txt login"
              (click)="openVerticallyCentered(content); toggleNavbar()"
              *ngIf="!isLoggedIn"
      >
        შესვლა
      </a>
      <a *ngIf="isLoggedIn" class="geo-primary-txt" routerLink="/profile">პროფილი</a>
    </li>
    <li>
      <a href="#contact" class="geo-primary-txt">კონტაქტი</a>
    </li>

    <li>
      <div class="language-changer row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn lang-btn" id="dropdownBasic1" ngbDropdownToggle>
              GEO
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" id="dropdown">
              <button ngbDropdownItem>GEO</button>
              <button ngbDropdownItem>EN</button>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</nav>
<ng-template #content let-modal>
  <app-login [modalRef]="modal"></app-login>
</ng-template>
