
<ng-template #content let-offcanvas >
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvas-basic-title">ფილტრი</h4>
        <button
                type="button"
                class="btn-close"
                aria-label="Close"
                (click)="offcanvas.dismiss('Cross click')">
        </button>
    </div>
    <div class="offcanvas-body">
        <form [formGroup]="filterForm">
            <div class="form-group">
                <label class="geo-primary-txt">წაყვანის თარიღი</label>
                <input type="date" formControlName="start_date">
            </div>
            <div class="form-group">
                <label class="geo-primary-txt">ჩაბარების თარიღი</label>
                <input type="date" formControlName="end_date" >
                <div
                        *ngIf="filterForm.errors?.['startDateNotEarlierThanEndDate']
                     ||
                     filterForm.controls['start_date'].errors"
                        class="text-danger">
                    გთხოვთ შეიყვანოთ ვალიდური ინფორმაცია.
                </div>
            </div>
            <div class="form-group">
                <label class="geo-primary-txt">ავტომობილის წაყვანის ადგილი</label>
                <select formControlName="pick_up">
                    <option selected>Tbilisi</option>
                    <option>Kutaisi</option>
                    <option>Batumi</option>
                    <option>Zestafoni</option>
                </select>
            </div>
            <div class="form-group">
                <label class="geo-primary-txt">ფასი 1 დღეზე (ლარებში)</label>
                <div class="input-group">
                    <input type="number" formControlName="min_price" class="form-control" placeholder="Min" min="0" max="1000">
                    <span class="input-group-text">-</span>
                    <input type="number" formControlName="max_price" class="form-control" placeholder="Max" min="0" max="1000">
                </div>
                <div *ngIf="filterForm.errors?.['priceRangeInvalid']" class="text-danger">გთხოვთ შეიყვანოთ ვალიდური ინფორმაცია.</div>
            </div>
            <div class="form-group">
                <label class="geo-primary-txt">ავტომობილის ტიპი</label>
                <select formControlName="body_types" class="form-select" >
                    <option>სედანი</option>
                    <option>ჰეჩბექი</option>
                    <option>კუპე</option>
                    <option>ჯიპი</option>
                    <option>სპორტული</option>
                    <option>კროსოვერი</option>
                    <option>კაბრიოლეტი</option>
                    <option>მინივენი</option>
                    <option>მიკროავტობუსი</option>
                    <option>სარკარო</option>
                    <option>სახლი</option>
                    <option>სხვა</option>
                </select>
            </div>
            <div class="form-group">
                <label class="geo-primary-txt">საწვავის ტიპი</label>
                <select formControlName="fuels" multiple>
                    <option>Benzin</option>
                    <option>დიზელი</option>
                    <option>ჰიბრიდული</option>
                    <option>ელექტრომობილი</option>
                </select>
            </div>
            <div class="form-group" >
                <label class="geo-primary-txt">გადაცემათა კოლოფი</label>
                <select formControlName="transmission" multiple>
                    <option>მექანიკა</option>
                    <option>Automatic</option>
                    <option>ტიპტრონიკი</option>
                </select>
            </div>
            <div class="form-group">
                <label class="geo-primary-txt">გამოშვების წელი</label>
                <input type="number" formControlName="year" min="1900" max="2024">
            </div>
            <div class="form-group">
                <label class="geo-primary-txt">საწვავის მოხმარება</label>
                <div class="input-group">
                    <input type="number" formControlName="fuel_consumption_min" class="form-control" placeholder="Min" min="0" max="80">
                    <span class="input-group-text">-</span>
                    <input type="number" formControlName="fuel_consumption_max" class="form-control" placeholder="Max" min="0" max="80" (click)="log(filterForm.errors)">
                </div>
                <div *ngIf="filterForm.errors?.['fuelConsumptionRangeInvalid']" class="text-danger">
                    გთხოვთ შეიყვანოთ ვალიდური ინფორმაცია.
                </div>
            </div>
            <div class="form-group">
                <label class="geo-primary-txt">ძრავის მოცულობა</label>
                <div class="input-group">
                    <input type="number" formControlName="engine_type_min" class="form-control" placeholder="Min" min="0" max="20">
                    <span class="input-group-text">-</span>
                    <input type="number" formControlName="engine_type_max" class="form-control" placeholder="Max" min="0" max="20">
                </div>
                <div *ngIf="filterForm.errors?.['engineTypeRangeInvalid']" class="text-danger">
                    გთხოვთ შეიყვანოთ ვალიდური ინფორმაცია.
                </div>
            </div>
        </form>
        <div class="text-end">
            <button
                    type="submit"
                    class="btn btn-primary"
                    (click)="offcanvas.close('Save click'); onSubmit()"
                    [disabled]="!filterForm.valid"
                    [class.disabled]="!filterForm.valid"
            >
                გაფილტვრა
            </button>
            <button
                    (click)="clearFilter()"
                    class="btn btn-danger"
            >
                გასუფთავება
            </button>

        </div>
    </div>

</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="openEnd(content)">ფილტრი</button>
