@import "../../../../palette";
button.offcanvas-open {
  margin: 20px 20px  20px auto;
  background-color: $card-bg;
  color: $txt-dark;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
  width: 120px;
  padding: 10px 0;
  >svg {
    height: 20px;
    width: 20px;
  }
}
::ng-deep .offcanvas.show {
   width: 60%;
 }
.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  >input, >select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
}
.text-end {
  display: flex;
justify-content: space-between;
  button {
    margin: 0;
  }
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
@media screen and (max-width: 768px) {
  ::ng-deep .offcanvas.show {
    width: 90%;
  }
}
