button {
  display: block;
  margin: 20px 20px  20px auto;
}
::ng-deep .offcanvas.show {
   width: 60%;
 }
.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  >input, >select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
}
.text-end {
  display: flex;
justify-content: space-between;
  button {
    margin: 0;
  }
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
