<form class="filter-container" [formGroup]="filterForm">
    <div class="form-group">
        <label>
            გაქირავების პერიოდი
        </label>
        <div class="date-inputs">
            <input type="date" formControlName="startDate" [min]="minStartDate">
            <input type="date" formControlName="endDate">
        </div>
        <div *ngIf="filterForm.hasError('dateMismatch') && filterForm.touched" class="error">
            Start date cannot be after end date.
        </div>
    </div>
    <div class="form-group">
        <label>
            ფასი ერთ დღეში
        </label>
        <div class="price-inputs">
            <input type="number" formControlName="minPrice" min="0" max="1000">
            <input type="number" formControlName="maxPrice" min="0" max="1000">
        </div>
    </div>
    <div class="form-group">
        <label>
            მანქანის ტიპები
        </label>
        <select formControlName="carType">

            <option disabled selected>ჩამოშალე</option>
            <option>სედანი</option>
            <option>ჯიპი</option>
            <option>ჰეტჩბექი</option>
            <option>კუპე</option>
            <option>კაბრიოლეტი</option>
            <option>პიკაპი</option>
            <option>მინივენი</option>
        </select>
    </div>
    <div class="form-group">
        <label>
            გადაცემათა კოლოფი
        </label>
        <select formControlName="driveType">
            <option disabled selected>ჩამოშალე</option>
            <option>მექანიკა</option>
            <option>ავტომატიკა</option>
        </select>
    </div>
    <button class="btn btn-primary" type="submit" (click)="onSubmit()">ძებნა</button>
</form>