@import "../../../palette";
.container {
  padding: 0 40px;
  >form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 30px 0;

  }
  .input-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
  }
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 15px;
}
button {
  padding: 10px 20px;
  color: $txt-dark;
  background-color: $card-bg;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.4s, box-shadow 0.4s;
  border: none;
  margin: 30px auto 30px 0;
  &:hover {
    background-color: rgba($card-bg, 0.8);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
}
.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.table-div {
  overflow-x: auto;
  width: 100%;
  padding: 30px 0;

}
@media screen and (min-width: 768px) {

  .container {
    >form {
      >.input-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        >div {
          width: 48%;
        }
      }
    }
  }
}
