
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  min-height: 60vh;
  padding: 0 20%;
  justify-content: center;
  .inline{
    display: flex;
    justify-content: space-between;
    align-items: end;
    label {
      margin-bottom: 10px;
    }
  }
}
.disabled {
    pointer-events: none;
    opacity: 0.5;
}