<div class="wrapper">
    <div class="modal-header">
        <h4 class="modal-title geo-primary-txt">შესვლა</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label class="geo-primary-txt">ელ. ფოსტა</label>
                <input type="email" class="form-control geo-primary-txt" id="email" placeholder="შეიყვანეთ ელ. ფოსტა">
            </div>
            <div class="form-group">
                <label class="geo-primary-txt">პაროლი</label>
                <input type="password" class="form-control geo-primary-txt" id="password" placeholder="შეიყვანეთ პაროლი">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn  geo-primary-txt">შესვლა</button>
    </div>

</div>