.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    .list-container {
        display: flex;
        >div {
        &:last-of-type {
            width: 80%;
        }
        }
        .filter {
        width: 100%;
        }

    }
}

.no-cars {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
}
