/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';
@import "./palette";
@font-face {
    font-family: 'Arial Geo';
    src: url('./assets/fonts/arial_geo.ttf');
    font-weight: normal;
    font-style: normal;
}
.geo-primary-txt {
    font-family: "Arial Geo", Arial, sans-serif;
}

.disable-scroll {
    overflow: hidden;
}
body {
    overflow-x: hidden;
}
.spinner {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-top-color: $card-bg;
    animation:  1s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo-wrapper {
    width: 300px;
    height: 300px;
    > img {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
    }
    >img:nth-child(2) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 300px;
        z-index: 1;
        opacity: 0.7;
    }
    >img:nth-child(1) {
        animation: revealFromBottom 2s;

    }
}
@keyframes revealFromBottom {
    0% {
        clip-path: inset(100% 0 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}
.loading-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(255, 255, 255, 1);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1.5s ease-out;
    opacity: 1;
}

.loading-animation.fade-out {
    opacity: 0;
}
